<h1>Article list</h1>

<%= link_to 'Add article', new_article_path %>

<table>
    <tr>
        <th>Title</th>
        <th>Article text</th>
        <th colspan="3"></th>
    </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to "Go", article_path(article) %></td>
    <td><%= link_to "Edit", edit_article_path(article) %></td>
    <td><%= link_to "Delete", article_path(article),
            method: :delete,
            data: {confirm: "You are sure?"} %></td>
  </tr>
<% end %>
</table>