<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>


<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>    

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Go back', articles_path %>
